#listadoIdenAgregarP {
    position: absolute;
    top: 23.9em;
    left: 33.9%;
    background: #FFFFFF;
    z-index: 2000 !important;
    display: block;
    box-shadow: 1px 2px 4px 1px #7D7D7D;
    border-radius: 7px;
}    

#spanIdenP {
    height: 5em;
    font-size: 18px;
}

.posicionarSpanP {
    padding: 3px;
    border-bottom: 1px solid #B3B2B2;
}

.posicionarSpanP:hover{
    background: #72BD2C;
    color: white;
    cursor: pointer;
}