/* 
    Document   : paginaInicio
    Created on : 17-ago-2016, 9:20:13
    Author     : William
    Description:
        Purpose of the stylesheet follows.
*/

#bienvenidos{
    background-repeat: no-repeat;
    height: 200px;
    width: 100%; 
    text-align: center;
    padding:25px;
    color: #0F97BD;
    font-size: 35px;
}
